{% extends 'view/base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="accommodation">
        <div class="grid content1">
            <h1>Размещение</h1>

            <p>Туризм, основанный на сообществах, Центральной Азии (CBT) приглашает вас в увлекательные путешествия в
                самые
                живописные уголки восточной страны.</p>

            <form method="post" action="#" class="group">
                <input type="search" name="name" placeholder="Куда собираетесь?">
                <input type="number" name="number" placeholder="Заезд">
                <input type="number" name="number" placeholder="Отъезд">
                <button type="button" name="button"></button>
            </form>
        </div>
    </div>

    <div class="bg3">
        <div class="grid content3 block1">
            <h3>Где вы хотите остановиться?</h3>

            <div class="line"></div>

            <form method="post" action="#">
                <div class="select">
                    <a href="javascript:void(0);" class="slct">Все категории</a>
                    <ul class="drop">
                        <li>Красивый(ая)</li>
                        <li>Умный(ая)</li>
                        <li>Коммуникабульный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                    </ul>
                    <input type="hidden" class="select">
                </div>

                <div class="select">
                    <a href="javascript:void(0);" class="slct">Все категории</a>
                    <ul class="drop">
                        <li>Красивый(ая) Красивый(ая)</li>
                        <li>Умный(ая)</li>
                        <li>Коммуникабульный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                    </ul>
                    <input type="hidden" class="select">
                </div>

                <div class="select">
                    <a href="javascript:void(0);" class="slct">Все категории</a>
                    <ul class="drop">
                        <li>Красивый(ая) Красивый(ая)</li>
                        <li>Умный(ая)</li>
                        <li>Коммуникабульный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                    </ul>
                    <input type="hidden" class="select">
                </div>

                <div class="select">
                    <a href="javascript:void(0);" class="slct">Все категории</a>
                    <ul class="drop">
                        <li>Красивый(ая) Красивый(ая)</li>
                        <li>Умный(ая)</li>
                        <li>Коммуникабульный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                        <li>Скромный(ая)</li>
                    </ul>
                    <input type="hidden" class="select">
                </div>
            </form>

            <div class="hotels">
                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Куль-Нуру</h5>

                        <p>Гостевой Дом, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">4,5</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">17</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$80</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Санрайз Ош</h5>

                        <p>Отель, Ош</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">7,2</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">24</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$100</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Бек Каракол</h5>

                        <p>Квартира, Каракол</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">2,8</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">38</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Риверсайд</h5>

                        <p>Гостевой Дом, Джалал-Абад</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">9,6</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">99</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$70</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Мемфис</h5>

                        <p>Коттедж, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">6,5</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">41</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Куль-Нуру</h5>

                        <p>Гостевой Дом, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">4,5</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">17</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$80</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Санрайз Ош</h5>

                        <p>Отель, Ош</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">7,2</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">24</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$100</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Бек Каракол</h5>

                        <p>Квартира, Каракол</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">2,8</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">38</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Риверсайд</h5>

                        <p>Гостевой Дом, Джалал-Абад</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">9,6</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">99</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="assets/images/hotel1.jpg" alt="hotel">

                        <div class="cost"><span>от</span><br>$70</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Мемфис</h5>

                        <p>Коттедж, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="assets/images/hotel_rate.png" alt="rate">6,5</div>
                        <div class="hotel_vote"><img src="assets/images/vote_icon.png" alt="icon">41</div>
                    </div>
                </div>

                <ul class="pagination">
                    <li><a href="#"><img src="assets/images/arrowLeft.png" alt="arrow"></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><img src="assets/images/arrowRight.png" alt="arrow"></a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}