{% extends 'view/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfect-scrollbar.css' %}"/>
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="about_flat">
        <div class="grid group">
            <div class="gallery">
                <div class="flat_slider">
                    {% for image in hotel.preview.all %}
                        <div class="sl_slide">
                            <img src="{{ image.content.url }}" alt="image">
                            <div class="ppr">
                                <div class="place">{{ hotel.title }}</div>
                                <div class="price">{{ hotel.price }}KGS</div>
                                <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">{{ hotel.rate }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="flat_slider2">
                    {% for image in hotel.preview.all %}
                        <div class="sl2_slide">
                            <div class="slide_bg"></div>
                            <img src="{{ image.content.url }}" alt="image">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <section class="accommodation_tabs">

                <div id="tabs" class="c-tabs">

                    <div class="c-tabs-nav">
                        <a href="#" class="c-tabs-nav__link is-active">О жилье</a>
                        <a href="#" class="c-tabs-nav__link">детали</a>
                        <a href="#" class="c-tabs-nav__link">местоположения</a>
                        <a href="#" class="c-tabs-nav__link">отзывы </a>
                        <div class="c-tab-nav-marker"></div>
                    </div>

                    <div class="application">
                        <form method="post" action="#">
                            <label for="firstname">Ваше имя<br>
                                <input type="text" name="firstname" id="firstname">
                            </label>

                            <label for="number">Номер телефона<br>
                                <input type="number" name="firstname" id="number">
                            </label>

                            <label for="amount">Гостей<br>
                                <input type="number" name="firstname" id="amount">
                            </label>

                            <label for="arrive">Прибытие<br>
                                <input type="date" name="firstname" id="arrive">
                            </label>

                            <label for="leave">Выезд<br>
                                <input type="date" name="firstname" id="leave">
                            </label>

                            <label for="comments">Остались вопросы?<br>
                                <textarea name="comments" id="comments" cols="20" rows="10"></textarea>
                            </label>

                            <button type="button" name="button" class="button">отправить заявку</button>
                            <button type="button" name="button" class="button">отменить</button>
                        </form>
                    </div>
                    <div class="c-tab is-active">
                        <div class="c-tab__content">
                            <div class="accommodation_desc">
                                <p>{{ hotel.description }}</p>
                            </div>
                            <button type="button" name="button" class="button">Забронировать</button>
                        </div>
                    </div>

                    <div class="c-tab">
                        <div class="c-tab__content">
                            <div class="accommodation_details">
                                <h6>жилье:</h6>
                                <p>Тип размещения: <span>{{ hotel.type }}</span><br>
                                    Вмещает гостей: <span>{{ hotel.guest_count }}</span><br>
                                    Количество ванных комнат: <span>{{ hotel.bathroom_count }}</span><br>
                                    Тип кровати: <span>Диван-кровать</span><br>
                                    Количество спален: <span>{{ hotel.bedroom_count }}</span><br>
                                    Кроватей: <span>{{ hotel.bed_count }}</span><br>
                                    Время прибытия: <span> время после {{ hotel.check_in_time }}</span><br>
                                    Время выезда: <span>{{ hotel.departure_time }}</span>
                                </p>

                                <hr color="#d2d2d2">

                                <h6>Удобства</h6>
                                <ul class="accommodation_service">
                                    <li><img src="{% static 'images/internet.png' %}" alt="image">Интернет</li>
                                    <li><img src="{% static 'images/parking.png' %}" alt="image">Бесплатная парковка
                                    </li>
                                    <li><img src="{% static 'images/internet_icon.png' %}" alt="image">Беспроводной
                                        Интернет
                                    </li>
                                    <li><img src="{% static 'images/kitchen.png' %}" alt="image">Кухня</li>
                                </ul>
                            </div>
                            <button type="button" name="button" class="button">Забронировать</button>
                        </div>
                    </div>

                    <div class="c-tab">
                        <div class="c-tab__content">
                            <div class="accommodation_location">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.951587032065!2d74.57456831504412!3d42.873865979155795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83dc60d126d%3A0x8284c6d6bf6e481!2zU3VucmlzZSBTdHVkaW8gLSDQoNCw0LfRgNCw0LHQvtGC0LrQsCDRgdCw0LnRgtC-0LIg0Lgg0LzQvtCx0LjQu9GM0L3Ri9GFINC_0YDQuNC70L7QttC10L3QuNC5INCR0LjRiNC60LXQug!5e0!3m2!1sru!2skg!4v1481612842163"
                                        frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="c-tab">
                        <div class="c-tab__content">
                            <div class="comments">
                                <div class="comment group">
                                    <div class="avatar"><img src="{% static 'images/comment_avatar.jpg' %}"
                                                             alt="avatar"></div>
                                    <h6><a href="#">olga briggs</a></h6>
                                    <div class="com_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">7,2
                                    </div>
                                    <span class="com_date">август 2016</span>

                                    <div class="com_box">
                                        <span class="tip tip_left"></span>
                                        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    </div>
                                </div>

                                <div class="comment group">
                                    <div class="avatar"><img src="{% static 'images/comment_avatar.jpg' %}"
                                                             alt="avatar"></div>
                                    <h6><a href="#">olga briggs</a></h6>
                                    <div class="com_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">7,2
                                    </div>
                                    <span class="com_date">август 2016</span>

                                    <div class="com_box">
                                        <span class="tip tip_left"></span>
                                        Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    </div>
                                </div>
                            </div>
                            <button type="button" name="button" class="button">Забронировать</button>
                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>

    <div class="container2">
        <div class="grid content3">
            <h3>похожие варианты размещения</h3>

            <div class="line"></div>

            <div class="hotels">
                <div class="hotel">
                    <div class="hotel_img">
                        <img src="{% static 'images/hotel1.jpg' %}" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Куль-Нуру</h5>

                        <p>Гостевой Дом, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">4,5</div>
                        <div class="hotel_vote"><img src="{% static 'images/vote_icon.png' %}" alt="icon">17</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="{% static 'images/hotel1.jpg' %}" alt="hotel">

                        <div class="cost"><span>от</span><br>$80</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Санрайз Ош</h5>

                        <p>Отель, Ош</p>

                        <div class="hotel_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">7,2</div>
                        <div class="hotel_vote"><img src="{% static 'images/hotel_rate.png' %}" alt="icon">24</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="{% static 'images/hotel1.jpg' %}" alt="hotel">

                        <div class="cost"><span>от</span><br>$100</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Бек Каракол</h5>

                        <p>Квартира, Каракол</p>

                        <div class="hotel_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">2,8</div>
                        <div class="hotel_vote"><img src="{% static 'images/vote_icon.png' %}" alt="icon">38</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="{% static 'images/hotel1.jpg' %}" alt="hotel">

                        <div class="cost"><span>от</span><br>$40</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Риверсайд</h5>

                        <p>Гостевой Дом, Джалал-Абад</p>

                        <div class="hotel_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">9,6</div>
                        <div class="hotel_vote"><img src="{% static 'images/vote_icon.png' %}" alt="icon">99</div>
                    </div>
                </div>

                <div class="hotel">
                    <div class="hotel_img">
                        <img src="{% static 'images/hotel1.jpg' %}" alt="hotel">

                        <div class="cost"><span>от</span><br>$70</div>
                    </div>

                    <div class="hotel_desc">
                        <h5>Мемфис</h5>

                        <p>Коттедж, Иссык-Куль</p>

                        <div class="hotel_rate"><img src="{% static 'images/hotel_rate.png' %}" alt="rate">6,5</div>
                        <div class="hotel_vote"><img src="{% static 'images/vote_icon.png' %}" alt="icon">41</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container3">
        <div class="grid content2">
            <h3>туры в районе размещения</h3>

            <div class="line"></div>

            <div class="tours_around_accommodation">

                <div class="tour">
                    <div class="shadow"></div>
                    <img src="{% static 'images/tour4.jpg' %}" alt="tour">

                    <div class="ppr">
                        <div class="place">Иссык-Кульская обл</div>
                        <div class="price">$ 700</div>
                        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
                    </div>

                    <div class="description">
                        <h4>Ущелье “Барскаун”</h4>

                        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>

                <div class="tour">
                    <div class="shadow"></div>
                    <img src="{% static 'images/tour5.jpg' %}" alt="tour">

                    <div class="ppr">
                        <div class="place">нарынская обл.</div>
                        <div class="price">$ 610</div>
                        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
                    </div>

                    <div class="description">
                        <h4>Плато “Барскон”</h4>

                        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
                    </div>
                </div>

                <div class="tour">
                    <div class="shadow"></div>
                    <img src="{% static 'images/tour6.jpg' %}" alt="tour">

                    <div class="ppr">
                        <div class="place">нарынская обл.</div>
                        <div class="price">$ 430</div>
                        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
                    </div>

                    <div class="description">
                        <h4>Озеро “Сон-куль”</h4>

                        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                    </div>
                </div>

                <div class="tour">
                    <div class="shadow"></div>
                    <img src="{% static 'images/tour7.jpg' %}" alt="tour">

                    <div class="ppr">
                        <div class="place">ошская обл.</div>
                        <div class="price">$ 815</div>
                        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
                    </div>

                    <div class="description">
                        <h4>Гора “Сулайман-Тоо”</h4>

                        <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script src="{% static 'js/perfect-scrollbar.jquery.js' %}"></script>
{% endblock %}

{% block custom_scripts %}
    <script>
        var m = new Tabs({
            el: "#tabs",
            marker: true
        });
        accommodationPageInit();
        m.init();
    </script>
{% endblock %}