{% extends 'view/base.html' %}

{% load staticfiles %}


{% block content %}
    <div class="bg1">
        <div class="grid content1">
            <h1>Размещение, Развлечения, Приключения</h1>

            <p>Туризм, основанный на сообществах, Центральной Азии (CBT) приглашает вас в увлекательные путешествия в
                самые
                живописные уголки восточной страны.</p>

            <form method="post" action="#" class="group">
                <input type="search" name="name" placeholder="Куда собираетесь?">
                <input type="date" name="number" placeholder="Заезд">
                <input type="date" name="number" placeholder="Отъезд">
                <button type="button" name="button"></button>
            </form>
        </div>
    </div>

    <div class="bg2">
        <div class="grid content2">
            <h3>Популярные туры</h3>

            <div class="line"></div>

            <div class="popular_tours">
                {% include 'view/misc/tours.html' %}

                <button type="button" name="button" class="button">больше направлений</button>
            </div>
        </div>
    </div>

    <div class="bg3" id="accommodation">
        <div class="grid content3">
            <h3>Размещение</h3>

            <div class="line"></div>

            <div class="hotels">

                {% include 'view/misc/hotels.html' %}

                <button type="button" name="button" class="button">больше размещений</button>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="grid content4">
            <h3>Популярные направления</h3>

            <div class="line"></div>

            <div class="popular_directions">
                {% include 'view/misc/directions.html' %}

                <button type="button" name="button" class="button">больше направлений</button>
            </div>
        </div>
    </div>
{% endblock %}