{% extends 'view/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}

{% block content %}
    <div class="bg1">
        <div class="grid content1">
            <h1>Размещение, Развлечения, Приключения</h1>

            <p>Туризм, основанный на сообществах, Центральной Азии (CBT) приглашает вас в увлекательные путешествия в
                самые
                живописные уголки восточной страны.</p>

            <form method="post" action="{% url 'accommodation_search' %}" class="group">
                {#                <input type="search" name="name" placeholder="Куда собираетесь?">#}
                {% render_field accommodation_search_form.direction type='search' placeholder='Куда собираетесь?' %}
                {#                <input type="date" name="number" placeholder="Заезд">#}
                {% render_field accommodation_search_form.check_in_date placeholder='Заезд' type='text' id='check_in' %}
                {#                <input type="date" name="number" placeholder="Отъезд">#}
                {% render_field accommodation_search_form.check_out_date placeholder='Отъезд' type='text' id='check_out' %}
                {% render_field accommodation_search_form.guest_count placeholder='Количество гостей' type='number' min='1' step='1' %}
                <button type="submit" name="button"><img src="{% static 'images/go!.png' %}"></button>
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="bg2">
        <div class="grid content2">
            <h3>Популярные туры</h3>

            <div class="line"></div>

            <div class="popular_tours">
                {% include 'view/misc/tours.html' %}

                <button type="button" name="button" class="button">больше направлений</button>
            </div>
        </div>
    </div>

    <div class="bg3" id="accommodation">
        <div class="grid content3">
            <h3>Размещение</h3>

            <div class="line"></div>

            <div class="hotels">

                {% include 'view/misc/hotels.html' %}

                <button type="button" name="button" class="button">больше размещений</button>
            </div>
        </div>
    </div>

    <div class="bg4">
        <div class="grid content4">
            <h3>Популярные направления</h3>

            <div class="line"></div>

            <div class="popular_directions">
                {% include 'view/misc/directions.html' %}

                <button type="button" name="button" class="button">больше направлений</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script>
        var dateInputs = $('#check_in, #check_out');

        $(dateInputs).datepicker({
            showOtherMonths: true,
            selectOtherMonths: true
        });
        $(dateInputs).on('change', function (event) {
            console.log($(this).val());
        })
    </script>
{% endblock %}