{% load staticfiles %}
<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour1.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">Баткенская обл.</div>
        <div class="price">$ 350</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Цветок “Айгуль”</h4>

        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
</div>

<div class="tour two-column">
    <div class="shadow"></div>
    <img src="{% static 'images/tour2.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">Иссык-Кульская обл.</div>
        <div class="price">$ 580</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Каньон “Сказка”</h4>

        <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco </p>
    </div>
</div>

<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour3.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">Иссык-Кульская обл.</div>
        <div class="price">$ 580</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Водопад “Девичьи слезы”</h4>

        <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua </p>
    </div>
</div>

<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour4.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">Иссык-Кульская обл</div>
        <div class="price">$ 700</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Ущелье “Барскаун”</h4>

        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
    </div>
</div>

<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour5.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">нарынская обл.</div>
        <div class="price">$ 610</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Плато “Барскон”</h4>

        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
    </div>
</div>

<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour6.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">нарынская обл.</div>
        <div class="price">$ 430</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Озеро “Сон-куль”</h4>

        <p>Rem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </div>
</div>

<div class="tour">
    <div class="shadow"></div>
    <img src="{% static 'images/tour7.jpg' %}" alt="tour">

    <div class="ppr">
        <div class="place">ошская обл.</div>
        <div class="price">$ 815</div>
        <div class="rate"><img src="{% static 'images/rate.png' %}" alt="rate">7,3</div>
    </div>

    <div class="description">
        <h4>Гора “Сулайман-Тоо”</h4>

        <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
</div>