{% extends 'view/base.html' %}

{% load widget_tweaks %}

{% load staticfiles %}

{% block title %}Регистрация жилья - шаг 0 - Sibiti Kyrgyzstan{% endblock %}

{% block content %}
    <div class="constructor">
        <div class="grid">

            <ul class="tabs-menu articles">
                <li><a href="#tab-1" class="tab-header">1. Жилье</a></li>
                <li><a href="#tab-3" class="tab-header">2. Удобства</a></li>
                <li><a href="#tab-4" class="tab-header">3. Фото жилья</a></li>
                <li><a href="#tab-5" class="tab-header">4. Местонахождение</a></li>
                <li><a href="#tab-6" class="tab-header">5. Цена и описание</a></li>
                <li><a href="#tab-7" class="tab-header">6. Правила и сроки</a></li>
                <li><a href="#tab-8" class="tab-header">7. Завершение</a></li>
            </ul>
            <form action="#" method="POST" class="tab">

                <div id="tab-0" class="tab-content">
                    <div class="introduction">
                        <h2>Давайте подготовим ваше объявление.</h2>

                        <div class="line"></div>

                        <p>Sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque
                            laudantium, totam rem aperiam, eaque.
                        </p>

                        <button type="button" name="button" class="button" id="start_session">начать</button>

                        <!--<label class="select">Select field label:<br>-->
                        <!--<select name="select-name" id="select-beast">-->
                        <!--<option selected="" disabled>Выберите пункт</option>-->
                        <!--<option value="1">Пункт 1</option>-->
                        <!--<option value="2">Пункт 2</option>-->
                        <!--<optgroup label="Group1">-->
                        <!--<option value="1">team 1</option>-->
                        <!--<option value="2">team 2</option>-->
                        <!--</optgroup>-->
                        <!--<option value="3">Пункт 3</option>-->
                        <!--</select>-->
                        <!--</label>-->
                    </div>
                </div>

                <div id="tab-1" class="tab-content">

                    <div class="step step1">
                        <h2>Какое у вас жилье?</h2>

                        <div class="line"></div>

                        <div class="group">
                            <label for="select1">Тип жилья<br>
                                <select id="select1">
                                    <option selected="" disabled>Выберите пункт</option>
                                    <option>Квартира</option>
                                    <option>Юрта</option>
                                    <option>Дом</option>
                                </select>
                                {% render_field accommodation_form.type type='hidden' id='house-type' %}
                            </label>

                            <label for="select2">Тип размещения<br>
                                <select id="select2">
                                    <option selected="" disabled>Выберите пункт</option>
                                    <option>Отдельная комната</option>
                                    <option>Совместная комната</option>
                                    <option>Отдельная квартира</option>
                                </select>
                                {% render_field accommodation_form.placement_type type='hidden' id='placement-type' %}
                            </label>

                            <div class="amount">
                                <label for="number1">Количество гостей<br>
                                    {% render_field accommodation_form.guest_count type='number' value='1' size='5' id='number1' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number2">Количество традиционных мест<br>
                                    {% render_field accommodation_form.traditional_places_count type='number' value='1' size='5' id='number2' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number3">Количество спален<br>
                                    {% render_field accommodation_form.bedroom_count type='number' value='1' size='5' id='number3' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number4">Количество спален<br>
                                    {% render_field accommodation_form.bed_count type='number' value='1' size='5' id='number4' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-0"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-2">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>
                        </div>
                    </div>


                </div>

                <div id="tab-2" class="tab-content">
                    <div class="step step1_1">
                        <h2>Санузлы</h2>

                        <div class="line"></div>

                        <div class="group">

                            <div class="amount">
                                <label for="number5">Количество бань<br>
                                    {% render_field accommodation_form.bath_count type='number' value='1' size='5' id='number5' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number6">Количество душевых в доме<br>
                                    {% render_field accommodation_form.shower_in_house_count type='number' value='1' size='5' id='number6' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number7">Душ на улице<br>
                                    {% render_field accommodation_form.shower_on_street_count type='number' value='1' size='5' id='number7' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number8">Ванная комната<br>
                                    {% render_field accommodation_form.bathroom_count type='number' value='1' size='5' id='number8' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number9">Внутренний туалет. Унитаз<br>
                                    {% render_field accommodation_form.inside_toilet_count type='number' value='1' size='5' id='number9' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>

                            <div class="amount">
                                <label for="number10">Внутренний туалет. Турецкий<br>
                                    {% render_field accommodation_form.inside_turkish_count type='number' value='1' size='5' id='number10' %}
                                </label>

                                <div class="minus"><img src="{% static 'images/minus.png' %}" alt="minus"></div>
                                <div class="plus"><img src="{% static 'images/plus.png' %}" alt="plus"></div>
                            </div>


                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-1"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-3">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="tab-3" class="tab-content">
                    <div class="step step2">
                        <h2>Какие удобства вы предлагаете?</h2>

                        <div class="line"></div>

                        <div class="group">
                            <div class="checkbox">
                                {% for item in comfort_settings|slice:'0:6' %}
                                    <input class="comfort-check" id="comfort-id-{{ item.id }}" type="checkbox" name="comfort_setting">
                                    <label for="comfort-id-{{ item.id }}">{{ item.title }}</label>
                                {% endfor %}

{#                                <input id="check2" type="checkbox" name="check" value="false">#}
{#                                <label for="check2">Завтрак, кофе, чай </label>#}
{##}
{#                                <input id="check3" type="checkbox" name="check" value="false">#}
{#                                <label for="check3">Wi-Fi</label>#}
{##}
{#                                <input id="check4" type="checkbox" name="check" value="false">#}
{#                                <label for="check4">Стол/рабочее место </label>#}
{##}
{#                                <input id="check5" type="checkbox" name="check" value="false">#}
{#                                <label for="check5">Шампунь </label>#}
{##}
{#                                <input id="check6" type="checkbox" name="check" value="false">#}
{#                                <label for="check6">Камин </label>#}
{##}
{#                                <input id="check7" type="checkbox" name="check" value="false">#}
{#                                <label for="check7">Шкаф/комод </label>#}
                            </div>

                            <div class="checkbox">
                                <input id="check8" type="checkbox" name="check" value="false">
                                <label for="check8">Утюг </label>

                                <input id="check9" type="checkbox" name="check" value="false">
                                <label for="check9">Телевизор </label>

                                <input id="check10" type="checkbox" name="check" value="false">
                                <label for="check10">Фен </label>

                                <input id="check11" type="checkbox" name="check" value="false">
                                <label for="check11">Отопление </label>

                                <input id="check12" type="checkbox" name="check" value="false">
                                <label for="check12">Животные в доме </label>

                                <input id="check13" type="checkbox" name="check" value="false">
                                <label for="check13">Кондиционер </label>

                                <input id="check14" type="checkbox" name="check" value="false">
                                <label for="check14">Газеты/Журналы</label>
                            </div>

                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-2"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-4">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="tab-4" class="tab-content">
                    <div class="step step3">
                        <h2>Как выглядит ваше жилье</h2>

                        <div class="line"></div>


                        <div class="group">

                            <div class="control-group file-upload" id="file-upload1">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_1"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload2">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_2"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload3">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_3"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload4">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_4"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload5">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_5"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload6">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_6"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload7">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_7"/></div>
                            </div>

                            <div class="control-group file-upload" id="file-upload8">
                                <div class="image-box text-center"><img src="" alt=""></div>
                                <div class="controls"><input type="file" name="contact_image_8"/></div>
                            </div>

                            <!--<div class="control-group reveal-file">-->
                            <!--<div class="controls"><p>Add Another Image</p></div>-->
                            <!--</div>-->

                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-3"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-5">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>

                    </div>
                </div>

                <div id="tab-5" class="tab-content">
                    <div class="step step4">
                        <h2>Где находится ваше жилье?</h2>

                        <div class="line"></div>

                        <div class="group">
                            <label for="select3">Регион<br>
                                <select name="select-name" id="select3">
                                    <option selected="" disabled>Выберите пункт</option>
                                    <option value="1">Квартира</option>
                                    <option value="2">Юрта</option>
                                    <!--<optgroup label="Group1">-->
                                    <!--<option value="1">team 1</option>-->
                                    <!--<option value="2">team 2</option>-->
                                    <!--</optgroup>-->
                                    <option value="3">Дом</option>
                                </select>
                            </label>

                            <label for="select4">Город / Район<br>
                                <select name="select-name" id="select4">
                                    <option selected="" disabled>Выберите пункт</option>
                                    <option value="1">Отдельная комната</option>
                                    <option value="2">Совместная комната</option>
                                    <!--<optgroup label="Group1">-->
                                    <!--<option value="1">team 1</option>-->
                                    <!--<option value="2">team 2</option>-->
                                    <!--</optgroup>-->
                                    <option value="3">Отдельная квартира</option>
                                </select>
                            </label>

                            <label for="text1">Улица<br>
                                <input type="text" name="street" id="text1">
                            </label>

                            <label for="number11">Номер дома<br>
                                <input type="number" name="number" id="number11">
                            </label>


                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-4"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-6">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>

                    </div>
                    <div class="step location">
                        <h2>Или укажите его на карте</h2>

                        <div class="line"></div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.951587032065!2d74.574568315
                    04412!3d42.873865979155795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec83dc60d126d%3A0
                    x8284c6d6bf6e481!2zU3VucmlzZSBTdHVkaW8gLSDQoNCw0LfRgNCw0LHQvtGC0LrQsCDRgdCw0LnRgtC-0LIg0Lgg0LzQvtCx
                    0LjQu9GM0L3Ri9GFINC_0YDQuNC70L7QttC10L3QuNC5INCR0LjRiNC60LXQug!5e0!3m2!1sru!2skg!4v1482153509566"
                                style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

                <div id="tab-6" class="tab-content">
                    <div class="step step5">
                        <h2>Цена и описание жилья</h2>

                        <div class="line"></div>

                        <div class="group">

                            <label for="text2">Базовая цена за сутки<br>
                                <input type="text" name="price" id="text2">
                            </label>

                            <label for="text3">Назовите свое жилье<br>
                                <input type="text" name="name" id="text3">
                            </label>

                            <label for="comments">Опишите ваше жилье<br>
                                <textarea name="comments" id="comments" cols="20" rows="10" placeholder=""></textarea>
                            </label>


                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-5"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-7">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>

                    </div>
                </div>

                <div id="tab-7" class="tab-content">
                    <div class="step step6">
                        <h2>Правила и сроки сдачи жилья</h2>

                        <div class="line"></div>

                        <div class="group">
                            <label for="select5">Врямя заезда<br>
                                <select name="select-name" id="select5">
                                    <option value="1">12:00</option>
                                    <option value="2">13:00</option>
                                    <option value="2">14:00</option>
                                    <option value="2">15:00</option>
                                </select>
                            </label>

                            <label for="select6">Врямя выезда<br>
                                <select name="select-name" id="select6">
                                    <option value="1">12:00</option>
                                    <option value="2">13:00</option>
                                    <option value="2">14:00</option>
                                    <option value="2">15:00</option>
                                </select>
                            </label>

                            <div class="checkbox">
                                <input id="check15" type="checkbox" name="check" value="check1">
                                <label for="check15">Туалетные принадлежности</label>

                                <p>Вы обязаны четко следить за доступностью вашего жилья и своевременно обновлять
                                    календарь</p>
                            </div>


                            <div class="prevnext group">
                                <button type="button" name="button" class="back" data-prev="tab-6"><img
                                        src="{% static 'images/prev.png' %}" alt="prev">назад
                                </button>
                                <button type="button" name="button" class="ahead" data-next="tab-8">далее <img
                                        src="{% static 'images/next.png' %}" alt="next"></button>
                            </div>

                        </div>

                    </div>
                </div>

                <div id="tab-8" class="tab-content">
                    <div class="introduction">
                        <h2>Вы готовы принимать гостей!</h2>

                        <div class="line"></div>

                        <p>Sectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                            sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                            laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                            doloremque
                            laudantium, totam rem aperiam, eaque.
                        </p>

                        <div class="buttons">
                            <button type="button" name="button" class="back" data-prev="tab-7"><img
                                    src="{% static 'images/prev.png' %}" alt="prev">назад
                            </button>
                            <button type="button" name="button" class="button" id="finish-and-publish">завершить и
                                опубликовать
                            </button>
                            <button type="button" name="button" class="button" id="finish">завершить</button>
                        </div>
                    </div>

                </div>

                <!-- <p>The end.</p> -->
            </form>

            {#            <div class="prevnext group">#}
            {#                <button type="button" name="button" class="back" id="pre"><img src="{% static 'images/prev.png' %}" alt="prev">назад#}
            {#                </button>#}
            {#                <button type="button" name="button" class="ahead" id="nex">далее <img src="{% static 'images/next.png' %}"#}
            {#                                                                                      alt="next"></button>#}
            {#            </div>#}

        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        var tabs = $('.tab-content');
        var tabs_array = [];
        $(document).ready(function () {

            var plus = $('.plus');
            var minus = $('.minus');

            $(plus).on('click', function (event) {
                var input = $(this).parent().find('label > input[type="number"]');
                var value = parseInt($(input).val());
                value++;
                $(input).val(value);
            });

            $(minus).on('click', function (event) {
                var input = $(this).parent().find('label > input[type="number"]');
                var value = parseInt($(input).val());
                if (value > 0) {
                    value--;
                }
                $(input).val(value);
            });

            $(tabs).each(function (i, obj) {
                $(obj).prepend('<div class="ajax-loader"><img src="{% static 'images/spin.gif' %}"/></div>');
                tabs_array[i] = obj;
                if (i != 0) {
                    $(obj).fadeOut('fast');
                }
            });

            $('#start_session').on('click', function (event) {
                var loader = $('#tab-0 .ajax-loader');
                $(loader).fadeIn('slow');
                var timer = setTimeout(function () {
                    $(tabs_array[0]).fadeOut('slow', function () {
                        $(loader).fadeOut('slow');
                        $(tabs_array[1]).fadeIn('slow', function () {
                            $('a[href="#tab-1"]').parent().addClass('current');
                        });
                    });
                }, 1000);
            });

            $('.ahead').each(function (o, obj) {
                $(obj).on('click', function (event) {
                    var target = $(this).attr('data-next');
                    var nextTabIndex = target[target.length - 1];
                    var currentTabIndex = nextTabIndex - 1;
                    var loader = $('#tab-' + currentTabIndex + ' .ajax-loader');
                    $(loader).fadeIn('slow');
                    var timer = setTimeout(function () {
                        $(tabs).each(function (j, obj2) {
                            if ($(obj2).attr('id') == target) {
                                $(obj2).fadeIn('slow', function () {
                                    if (nextTabIndex != 2) {
                                        $('.tab-header').each(function (k, header_link) {
                                            if ($(header_link).attr('href') == '#' + target) {
                                                if (!$(header_link).parent().hasClass('current')) {
                                                    $(header_link).parent().addClass('current');
                                                }
                                            } else {
                                                if ($(header_link).parent().hasClass('current')) {
                                                    $(header_link).parent().removeClass('current')
                                                            .addClass('past');
                                                }
                                            }
                                        })
                                    }
                                });
                            } else {
                                $(obj2).fadeOut('slow');
                            }
                        });
                        $(loader).fadeOut('slow');
                    }, 1000);
                })
            });

            $('.back').each(function (i, obj) {
                $(obj).on('click', function (event) {
                    var prevTab = $(this).attr('data-prev');
                    var currentTab = parseInt(prevTab[prevTab.length - 1]) + 1;
                    var loader = $('#tab-' + currentTab + ' .ajax-loader');

                    $(loader).fadeIn('slow');

                    var timer = setTimeout(function () {
                        $(tabs).each(function (j, tab) {
                            if ($(tab).attr('id') == prevTab) {
                                $(tab).fadeIn('slow');
                            } else {
                                $(tab).fadeOut('slow');
                            }
                        });
                        $(loader).fadeOut('slow');
                        $('.tab-header').each(function (k, link) {
                            if ($(link).attr('href') == '#tab-' + currentTab) {
                                if ($(link).parent().hasClass('current')) {
                                    $(link).parent().removeClass('current');
                                }
                            }
                            {#                            console.log(prevTab);#}
                            if ($(link).attr('href') == '#' + prevTab) {
                                if ($(link).parent().hasClass('past')) {
                                    $(link).parent().removeClass('past');
                                    $(link).parent().addClass('current');
                                }
                            }
                        });
                    }, 1000);
                })
            });

            $('.tab-header').each(function (i, obj) {
                $(obj).on('click', function (event) {
                    event.preventDefault();
                });
            });

            $('#select1').on('change', function (event) {
                $('#house-type').val($(this).val());
            });

            $('#select2').on('change', function (event) {
                $('#placement-type').val($(this).val());
            });
        });
    </script>
{% endblock %}